/* Universal Styles */

:root {
    --background-color: black;
    --header-background-color: darkblue;
    --sub-background-color: rgb(84, 48, 226);
    --button-hover: rgba(0, 0, 139, 0.3);
    --text-color: lightblue;
    --color2: lightgrey;
}

html {
    background-color: var(--background-color);
    font-family: Helvetica, monospace
}

body {
    color: var(--text-color);
}

section {
    background-color: var(--header-background-color);
    margin: 40px 20px;
    min-height: 400px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

h1 { font-size: 3em; }

h2 { font-size: 2.5em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.3em; }

button {
    box-sizing: border-box;
    background-color: var(--header-background-color);
    color: var(--text-color);
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px auto 10px;
    border-radius: 10px;
    border: none;
    width: 40%;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    border: 3px solid darkblue;
}

.bottom-section {
    background-color: var(--sub-background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    flex-grow: 1;
}

.article {
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
}

.article-list {
    margin: 0 5px 20px 5px;
    line-height: 3em;
    max-width: 100%;
}

.article-list li {
    line-height: 2em;
}

.links {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    
}

/* Biography Section */

.biography {
    min-height: 90vh;
}

@media screen and (min-width: 700px)  {
    .biography {
        min-height: 60vh;
    }
}

@media screen and (min-height: 769px) {
    .biography {
        min-height: 60vh;
    }
}

/* Projects Section */

.project-description {
    font-style: italic;
    opacity: 0.7;
    font-size: 1rem;
}

.project-image {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

/*!* Skills Section *!*/

.skills {
    min-height: 10px;
    max-height: 500px;
}

.skills ul {
    display: grid;
    box-sizing: content-box;
    grid-template-columns: repeat(2, 1fr);
    justify-items: baseline;
    gap: 20px;
    min-height: 250px;
    margin-left: -25px;
}

.skills li {
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5em;
    margin: 0 5px;

}

@media screen and (min-width: 700px) {
    .skills ul {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-content: center;
        align-items: center;
    }
}

/*!* Experience Section *!*/

.duty-wide {
    display: none;
}

@media screen and (min-width: 667px) {
    .duty-narrow {
        display: none;
    }

    .duty-wide {
        display: list-item;
        line-height: 4em;
    }
}

/*!* Contact Section *!*/

.contact {
    text-align: center;
}

.form-control {
    flex: 1;
    font-family: Helvetica, monospace;
    color: white;
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color);
    font-size: 18px;
    margin: 20px;
    overflow: hidden;
    line-height: 2em;
}

.form-control::placeholder,
textarea.form-control::placeholder {
    color: var(--text-color);
    font-family: Helvetica, monospace;
    position: relative;
    left: 0;
    transition: left 0.4s ease-in-out, color 0.4s ease-in-out;
    -webkit-transition: left 0.4s ease-in-out, color 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out, color 0.4s ease-in-out;
}



.form-control:focus::placeholder {
    position: relative;
    color: transparent;
    left: 60%;
}


.submit {
    box-sizing: border-box;
    background-color: var(--header-background-color);
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
}

form .submit:focus {
    border: 3px solid black;
}

form .submit:hover {
    background-color: var(--button-hover);
    /* background-color: var(--sub-background-color); */
    cursor: pointer;
    border: 3px solid darkblue;
}

form .submit:active {
    background-color: navy;
}

@media (min-width: 400px) {
    .form-control {
        width: 60%;
    }
}
