/* Universal Styles */

.border {
  border: 1px solid white;
}

html {
  background-color: darkgrey;
}

body {
  color: bisque;
  text-align: center;
}

section {
  background-color: gray;
  border: 1px solid lightgrey;
  margin: 30px 20px;
}

h2 {
  font-size: 2.5rem;
}

/* Biography Section */

.biography {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 20px;
  justify-items: center;
  align-items: center;
  height: 500px;
}

.bio-img {
  text-align: center;
}

.bio-img img {
  width: 50%;
  border-radius: 50%;
}

.bio-text {
  width: 70%;
  align-self: center;
}

/* Skills Section */

.skills {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.skills h2 {
  width: 50%;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px 120px;
}

.skills li {
  margin: auto;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5rem;
}

/* Experience Section */

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.box {
  padding-left: 20px;
  background-color: #706e6e;
  text-align: left;
}

.job-duties {
  margin: 30px;
  line-height: 2em;
  max-width: 80%;
}
